:root{
    --azure: #01ABAA;
    --cream: #DED1C9;
    --other-blue: #5E83D6;
    --almost-black: #1B1029;
    --mint: #6FC2D9;
    --pink: #D3A3B3;
    --gold: #CCA059;
    --purple: #46135C;
}

.posterMovie{
    border-radius: 15px;
    cursor: pointer;
    object-fit: scale-down;
    width: 260px;
    height: 260px;
}

.gridMovies{
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

