:root{
    --azure: #01ABAA;
    --cream: #DED1C9;
    --other-blue: #5E83D6;
    --almost-black: #1B1029;
    --mint: #6FC2D9;
    --pink: #D3A3B3;
    --gold: #CCA059;
    --purple: #46135C;
    --lucky: 'Luckiest Guy', cursive;
}

.imgMovieDetails{
    height: 160px;
    width: 160px;
}

.h1MovieDetails{
    font-family: var(--lucky);
    font-size: 45px;
    position: relative;
    margin-left: 200px;
    margin-top: -125px;
    color: var(--cream);
}

.buttonArea{
    margin-top: -20px;
}

.posterMovie{
    border-radius: 15px;
    cursor: pointer;
    object-fit: scale-down;
    width: 260px;
    height: 260px;
}

.gridMovies{
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.viewMovieDetails{
    display: grid;
    gap: 20px;
}

.btnBack{
    /*text-align: left;*/
    margin-top: 30px;
    margin-left: 100px;
    background-image: url('../assets/buttonBack.png');
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.btnTitle{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    color: var(--gold);
}

.movieDetailGrid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-top: 15px;
}

.poster{
    border-radius: 10px;
    object-fit: scale-down;
    width: 425px;
    height: 425px;
}

.iconAverage{
    position: absolute;
    width: 110px;
    height: 110px;
    margin-left: 300px;
    margin-top: 360px;
}

.average{
    position: absolute;
    margin-left: 338px;
    margin-top: 400px;
    font-size: 26px;
    color: var(--purple);
}


.sumarize{
    text-align: justify;
}

.title{
    color: var(--cream);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2px;
}

.genres, .year {
    font-size: 22px;
    color: var(--cream);
    display: inline;
    margin-left: 40px;
}

.tagline, .overview {
    font-size: 22px;
}

.tagline{
    margin-top: 40px;
    margin-bottom: 40px;
}

.iconPopcorn{
    background-size: cover;
    border: none;
    height: 18px;
    width: 18px;
}
