:root{
    --yellow: #F7D060;
    --ligth-yellow: #F3E99F;
    --varela: 'Varela Round', sans-serif;
    --b: 3px;   /* border thickness */
    --s: .15em; /* size of the corner */
    /* --c: #BD5532;*/
    --c: #CCA059;
    --azure: #01ABAA;
    --cream: #DED1C9;
    --other-blue: #5E83D6;
    --almost-black: #1B1029;
    --mint: #6FC2D9;
    --pink: #D3A3B3;
    --gold: #CCA059;
    --purple: #46135C;
}
.menuNav{
    text-align: center;
    margin-top: 25px;
}

 .button{
    text-decoration: none;
    font-family: var(--varela);
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    margin: .1em;
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
}

.button:hover,
.button:focus-visible{
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
}
.button:active {
  background: var(--c);
  color: #fff;
}
  
 /*.button {
    text-align: center;
    margin: 5em;
    position: relative;
    display: inline-block;
    padding: 1em 1.75em;
    font-size: 19px;
    border: 3px solid var(--purple);
    font-family: var(--varela);
    color: var(--purple);
    text-decoration: none;
    font-weight: bold;
    transform-style: preserve-3d;
    transform:  rotate(-1.5deg);
    transition: all 300ms cubic-bezier( 0.8, -0.3, 0.2, 1.3 );
    margin: 0 3em;
  }
  
  .button:hover {
    transform:  rotate(0deg);
  }
  
  .button::before {
    content: ' ';
    position: absolute;
    width: 130%;
    height: 80%;
    background: var(--pink);
    top: 10%;
    left: -15%;
    transform: translateZ(-1px)  rotate(-178.5deg);
    transition: all 400ms ease-in-out, transform 400ms cubic-bezier( 0.8, -0.3, 0.2, 1.3 ) ;
    pointer-events: none;
  }
  
  .button:hover::before {
    transform: translateZ(-1px)  rotate(0deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .button:active::before {
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
     transform: translateZ(-1px)  rotate(-1deg);
    transition-duration: 100ms;
  }*/